.how-should-you-use-it {
  width: 100%;
  display: flex;
  justify-content: center;
  .inner {
    width: var(--PageWidth);
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 48px;
      line-height: 120%;
    }
    p {
      margin: 30px 0 48px 0;
      font-size: 18px;
      line-height: 200%;
    }
    .step-by-step {
      width: var(--PageWidth);
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h1 {
        font-size: 40px;
      }
      ul {
        li {
          display: flex;
          flex-direction: row;
          gap: 32px;
          align-items: flex-start;
          max-width: 500px;
          margin-bottom: 32px;
          span {
            font-size: 45px;
            color: #635bff;
            font-weight: 700;
            font-family: "Gilroy", sans-serif !important;
            user-select: none;
          }
          p {
            font-size: 18px;
            line-height: 200%;
          }
        }
      }
    }
  }
}
