.how-should-you-use-it {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  .inner {
    width: var(--PageWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    .how-toggle {
      margin-bottom: 30px;
    }
    h1 {
      font-size: 48px;
      line-height: 120%;
      text-align: center;
    }
    p {
      margin: 16px 0 20px 0;
      font-size: 18px;
      line-height: 200%;
      max-width: 600px;
      text-align: center;
    }
    .how-renter, .how-host {
      .steps {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 24px;
        .step {
          background: var(--BrandTertiary);
          border-radius: 24px;
          padding: 24px;
          h2 {
            margin-top: 24px;
            font-size: 20px;
            letter-spacing: -1px;
          }
          p {
            text-align: left !important;
            margin: 0;
            font-size: 16px;
          }
        }
      }
    }
  }
}
