.what-is-it {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  .inner {
    width: var(--PageWidth);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    h1 {
      font-size: 48px;
      line-height: 120%;
    }
    p {
      margin: 30px 0 48px 0;
      font-size: 18px;
      line-height: 200%;
      max-width: 600px;
    }
    .solutions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      .solution-one {
        border: 1px solid var(--BrandTertiary);
        padding: 48px;
        border-radius: 24px;
        span {
          margin-top: 48px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
      }
      .solution-two {
        border: 1px solid var(--BrandTertiary);
        padding: 48px;
        border-radius: 24px;
        span {
          margin-top: 48px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
