.why-should-you-use-it {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
  .inner {
    width: var(--PageWidth);
    display: flex;
    flex-direction: column;
    z-index: 999;
    h2 {
      font-size: 48px;
      line-height: 120%;
      text-align: center;
    }
    p {
      font-size: 18px;
      max-width: 600px;
      line-height: 200%;
      padding: 16px 20px;
      text-align: center;
      margin: 0 auto;
    }
  }
}
