@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --PageWidth: 1260px;
  --BrandPrimary: #000000;
  --BrandSecondary: #191923;
  --BrandTertiary: #e5e5e5;
  --BrandAccent: #146ef5;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  letter-spacing: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d1d1f !important;
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif;
}

p {
  color: #2d2d34;
  font-family: "Urbanist", sans-serif !important;
  line-height: 150%;
}

span {
  color: #2d2d34;
  font-family: "Urbanist", sans-serif !important;
}

ul,
li {
  color: #2d2d34;
  font-family: "Urbanist", sans-serif !important;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: #2d2d34;
  font-family: "Urbanist", sans-serif !important;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Thin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-UltraLight.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

/* @font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.ttf) format("truetype");
  font-weight: 700;
} */

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Black.ttf) format("truetype");
  font-weight: 900;
}

body {
  background: white !important;
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
