@charset "UTF-8";
.NavigationBar {
  height: 75px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  z-index: 1000;
}
.NavigationBar .InnerNavigationBar {
  height: inherit;
  width: 1440px;
  background: inherit;
  display: inherit;
  align-items: center;
  justify-content: space-between;
}
.NavigationBar .InnerNavigationBar .items {
  display: flex;
  color: #425466;
}
.NavigationBar .InnerNavigationBar .items a, .NavigationBar .InnerNavigationBar MenuItem {
  margin: 0 15px;
  text-decoration: none;
  color: #425466;
}
.NavigationBar .InnerNavigationBar Button:first-of-type {
  margin-right: 15px;
}
.NavigationBar .InnerNavigationBar Button {
  text-transform: capitalize !important;
  font-size: 16px;
}
.NavigationBar .InnerNavigationBar a:nth-child(1) {
  text-decoration: none;
  color: #425466;
}

.SearchBar {
  width: 1440px;
  margin: 0 auto 25px auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #e5e5e5;
}

.SEJT {
  font-size: 40px;
  color: aqua;
  text-align: center;
}

.Hero {
  width: 100%;
  color: #333333;
  display: flex;
  justify-content: center;
}
.Hero .HeroInner {
  height: auto;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 125px 0px 125px 0px;
}
.Hero .HeroInner h1 {
  text-align: center;
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: 0.12px;
  font-family: "Poppins", sans-serif;
  color: #0b3558;
  margin-bottom: 15px;
}
.Hero .HeroInner p {
  color: #476788;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.Hero .HeroInner Button {
  margin: 0 7.5px;
}
.Hero .HeroInner .HeroSignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #476788;
}
.Hero .HeroInner .HeroSignUp .hr-seperator {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.Hero .HeroInner .HeroSignUp .hr-seperator hr {
  width: 200px;
  background: #e5e5e5;
  opacity: 0.25;
}
.Hero .HeroInner .HeroSignUp .hr-seperator p {
  font-size: 14px;
  text-transform: uppercase;
}
.Hero .HeroInner .HeroSignUp p {
  font-size: 14px;
}
.Hero .HeroInner .HeroSignUp a {
  display: inline-block;
  width: auto;
  text-decoration: none;
  color: #006bff;
  font-size: 14px;
}

.ChangingText:before {
  content: "Tjen penge på din";
  font-size: 60px;
  animation-name: head;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes head {
  33% {
    font-size: 60px;
    opacity: 1;
    content: "Udlej din egen";
  }
  66% {
    font-size: 60px;
    opacity: 1;
    content: "Find en billig";
  }
}
.Gallery {
  display: flex;
  justify-content: center;
  background: white;
  padding-bottom: 175px;
}
.Gallery .GalleryInner {
  width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.Footer {
  background: white;
  width: 100% !important;
  height: auto;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}
.Footer .FooterInner {
  padding: 100px 0;
  width: 1440px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
.Footer .FooterInner .FooterColumn {
  display: flex;
  flex-direction: column;
}
.Footer .FooterInner .FooterColumn h6 {
  font-weight: 700;
}
.Footer .FooterInner .FooterColumn h6,
.Footer .FooterInner .FooterColumn a {
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #425466;
}
.Footer .FooterBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  padding: 50px 0;
  font-size: 16px;
  border-top: 1px solid #e5e5e5;
}
.Footer .FooterBottom a {
  text-decoration: none;
  color: #425466;
}
.Footer .FooterBottom span {
  display: flex;
}
.Footer .FooterBottom span a:first-of-type {
  margin: 0 30px;
}

.privacy {
  padding: 200px 0px 125px 0px;
  width: 1440px;
  margin: 0 auto;
  color: #425466;
  font-size: 16px;
}
.privacy h1 {
  color: #0b3558;
  font-size: 64px;
}
.privacy h5 {
  font-size: 24px;
  margin: 0;
}
.privacy h6 {
  font-size: 20px;
  margin: 0;
}
.privacy p {
  color: #425466;
}
.privacy a {
  color: #006bff;
}

.cookies {
  padding: 200px 0px 125px 0px;
  width: 1440px;
  margin: 0 auto;
}
.cookies h1 {
  color: #0b3558;
  font-size: 64px;
}
.cookies p {
  color: #425466;
}

.faq {
  padding: 125px 0px 125px 0px;
  width: 1440px;
  margin: 0 auto;
}
.faq h1 {
  color: #0b3558;
  font-size: 64px;
}
.faq h2 {
  color: #0b3558;
  font-size: 32px;
}
.faq p {
  color: #425466;
}

#sign-in-container {
  padding: 175px 0 150px 0;
  background: transparent;
  z-index: 1;
}

#sign-up-container {
  padding: 175px 0 150px 0;
  background: transparent;
  z-index: 1;
}

/*# sourceMappingURL=global.css.map */
