footer {
    display: none;
}

.rmdp-week {
    gap: 5px;
}

.rmdp-week-day {
    color: grey !important;
    font-weight: 600;
}

.rmdp-header {
    display: none;
}

.rmdp-border{
    border: none !important;
}