.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 192px;
  .inner {
    width: var(--PageWidth);
    .benefit {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      direction: rtl;
      text-align: left;
      column-gap: 10%;
      &:nth-child(2) {
        margin: 96px 0px;
      }
      .text {
        h2 {
          font-size: 48px;
          line-height: 125%;
        }
        p {
          margin: 24px 0px 32px 0px;
          font-size: 18px;
          line-height: 175%;
        }
      }
    }
  }
}
