.blogTeaser {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  h2 {
    font-size: 48px;
  }
  p {
    max-width: 600px;
    text-align: center;
    font-size: 18px;
    margin: 16px 0 32px 0;
    line-height: 200%;
  }
  a {
    color: #0a85d1;
    font-weight: 600;
    font-size: 18px;
  }
  .inner {
    width: 100%;
    .swiper-slide {
      width: 385px !important;
      border: 1px solid #e5e5e5;
      height: 500px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      &:nth-child(1) {
        margin-left: -25.25%;
      }
    }
  }
}
