.gallery-cards {
  .gallery-cards-content {
    padding: 0;
    text-align: left;
    .gallery-cards-content-info {
      padding: 16px 0;
      h3 {
        font-size: 16px;
      }
      span {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 8px;
        p {
          color: black !important;
        }
      }
      .price {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        font-size: 16px;
        margin-top: 8px;
      }
    }
  }
  &:hover {
    cursor: pointer !important;
    h3 {
      text-decoration: underline;
    }
  }
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
}
