.gallery-cards {
  border: 1px solid var(--BrandTertiary);
  .gallery-cards-content {
    padding: 0;
    text-align: left;
    .gallery-cards-content-info {
      padding: 32px;
        h3 {
          font-size: 20px;
        }
        p {
          color: red !important;
        }
      .gallery-cards-attributes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
        margin: 16px 0;
        .gallery-cards-attribute {
          display: flex;
          flex-direction: row;
          gap: 8px;
        }
      }
    }
    .price {
      color: black;
      background: var(--BrandTertiary);
      display: flex;
      justify-content: center;
      font-size: 15;
      font-weight: 600;
      line-height: 24px;
      padding: 12px 20px;
      margin-bottom: 16px;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
}