.Hero {
  width: 100%;
  padding: 185px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .HeroInner {
    height: auto;
    width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    margin: 0 auto;
    text-align: center;
    h1 {
      font-size: 64px;
      line-height: 120%;
      font-weight: 700;
      letter-spacing: -1px;
      color: #0b3558;
      margin: 0 0 8px 0;
      padding: 0;
    }

    p {
      color: #2d2d34;
      font-size: 18px;
      line-height: 36px;
      padding: 0;
      margin: 20px 0 30px 0;
    }
    .caption {
      color: #635bff;
      font-family: 'Gilroy', sans-serif !important;
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
    }
    .HeroImage {
      height: 475px;
      z-index: 1;
      position: relative;
      left: 150px;
      top: 0px;
      border-radius: 30px;
      box-shadow: 10px 10px 19px 0px rgba(229, 229, 229, 0.75);
      -webkit-box-shadow: 10px 10px 19px 0px rgba(229, 229, 229, 0.75);
      -moz-box-shadow: 10px 10px 19px 0px rgba(229, 229, 2);
    }
    .rekt {
      position: relative;
      border: 1px solid #e5e5e5;
      bottom: 35px;
      height: 475px;
      border-radius: 8px;
      left: 15px;
      box-shadow: 10px 10px 19px 0px rgba(229, 229, 229, 0.75);
      -webkit-box-shadow: 10px 10px 19px 0px rgba(229, 229, 229, 0.75);
      -moz-box-shadow: 10px 10px 19px 0px rgba(229, 229, 2);
    }
  }
}

@media only screen and (max-width: 600px) {
  .Hero {
    border-bottom: none;
    .HeroInner {
      width: 100%;
      margin: 100px 0 275px 0;
      padding: 0;
      h1 {
        line-height: 1.25;
        font-size: 30px;
      }

      p {
        font-size: 18px;
      }
    }
    Button {
      padding: 11px 21px;
      font-size: 16px;
    }
  }
}
