.popular {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 75px 0;
  .popularInner {
    width: var(--PageWidth);
    h1 {
      font-size: 40px;
    }
    span {
      padding: 50px 0 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 25px;
      grid-row-gap: 25px;
    }
  }
}
