.Ratings {
  .trustPilotRatings {
    display: flex;
    align-items: center;
    h3 {
      font-size: 18px;
      font-weight: 400 !important;
    }
    .stars {
      height: 20px;
      margin: 0 16px 0 12px;
    }
    p {
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
  }
  .googleRatings {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      padding: 0;
    }
    .stars {
      height: 20px;
      margin: 0 8px;
    }
  }
}
