.faq {
    padding: 125px 0px 125px 0px;
    width: 1440px;
margin: 0 auto;
    h1 {
        color: #0b3558;
        font-size: 64px;
    }
    h2 {
        color: #0b3558;
        font-size: 32px;
    }
    p {
        color: #425466;
    }
}