.privacy {
    padding: 200px 0px 125px 0px;
    width: 1440px;
margin: 0 auto;
    h1 {
        color: #0b3558;
        font-size: 64px;
    }
    h5 {
        font-size: 24px;
        margin: 0;
    }
    h6 {
        font-size: 20px;
        margin: 0;
    }
    p {
        color: #425466;
    }
}