.udleje {
  padding: 125px 0px 125px 0px;
  width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #0b3558 !important;
  h1 {
    text-align: center;
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: 0.12px;
    color: #0b3558;
    margin-bottom: 15px;
  }
  h2 {
    color: #0b3558 !important;
    font-size: 32px;
  }
  p {
    color: #425466;
  }
}

// Alt herunder skal flyttes i en seperat fil til styling for timeline komponentet

.timeline {
  width: 1340px;
  margin: 0 auto;
  position: relative;

  .timeline-content-block {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 400px;
    }
    h2 {
      color: #0b3558;
    }
    p {
      color: #425466;
    }
    img {
      width: auto;
      height: 500px;
    }
  }
}

.line {
  border-left: 1px solid #e5e5e5;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-style: dashed;
  .line-number {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    margin-left: -28px;
    background: white;
    outline: 20px solid white;
    border-radius: 25%;
    font-weight: 700;
    color: #0b3558;
    box-shadow: "rgba(0, 0, 0, 0.12) 0px 20px 40px 0px";
  }
}

.udleje-questions {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 125px;
  text-align: center;
  h2 {
    padding: 50px 0;
    font-size: 40px;
    color: #0b3558;
  }
}

.udleje-accordions {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  .MuiAccordionSummary-root {
    padding: 20px 30px !important;
    border: 1px solid #e5e5e5;
    box-shadow: none !important;
  }
  #panel1a-content,
  #panel2a-content,
  #panel3a-content,
  #panel4a-content,
  #panel5a-content,
  #panel6a-content {
    padding: 25px 0px 20px 0px !important;
    padding-left: 20px !important;
    margin: 0;
    width: auto;
    display: flex;
  }
}
