.angry-grid {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: 0fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 15px;
  .Textfield {
    width: 100%;
  }

  .InputLabel {
    margin-bottom: 15px;
    font-weight: 700;
  }
  .FormHelperText {
    margin: 15px 0 0 0 !important;
  }
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 7;
  height: fit-content;

  .ProfileEditHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    h1 {
      margin: 0;
    }
    .Button {
      height: 45px;
    }
  }
}
#item-1 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 4;
  height: fit-content;
}
#item-2 {
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 7;
  gap: 50px;
  height: fit-content;
}
#item-3 {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 3;
  height: fit-content;
}
#item-4 {
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 5;
  height: fit-content;
}
#item-5 {
  grid-row-start: 3;
  grid-column-start: 5;

  grid-row-end: 4;
  grid-column-end: 7;
  height: fit-content;
}
#item-6 {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 7;
  height: fit-content;
}
#item-7 {
  grid-row-start: 5;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 3;
  height: fit-content;
}
#item-8 {
  grid-row-start: 5;
  grid-column-start: 3;

  grid-row-end: 6;
  grid-column-end: 7;
  height: fit-content;
}
#item-9 {
  grid-row-start: 6;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 7;
  height: fit-content;
}
#item-10 {
  grid-row-start: 7;
  grid-column-start: 1;

  grid-row-end: 8;
  grid-column-end: 7;
  height: fit-content;
  .Avatar {
    height: 75px;
    width: 75px;
    margin-bottom: 25px;
  }
}
#item-11 {
  grid-row-start: 8;
  grid-column-start: 1;

  grid-row-end: 9;
  grid-column-end: 3;
  height: fit-content;
}

// Media queries

@media only screen and (max-width: 600px) {
  .angry-grid {
    box-sizing: border-box;
    width: 100%;
  }
}
