.kontakt {
  padding: 185px 0 100px 0;
  display: flex;
  justify-content: center;
  .inner {
    width: var(--PageWidth);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    .information {
      h1 {
        font-size: 50px;
        line-height: 120%;
      }
      p {
        font-size: 16px;
        line-height: 150%;
        margin: 32px 0 0 0;
      }
    }
    .message {
      display: flex;
      flex-direction: column;
      padding: 32px;
      border: 1px solid var(--BrandTertiary);
      border-radius: 8px;
      span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5%;
      }
      .message-contents {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        margin-bottom: 16px;
        width: -webkit-fill-available !important;
        label {
          font-size: 16px;
          font-weight: 600;
          font-family: "Poppins", sans-serif;
          margin-bottom: 8px;
        }
        ::placeholder {
          font-size: 14px;
          font-family: "Poppins", sans-serif;
        }
        input,
        select {
          padding: 16px 10px;
          border: 1px solid var(--BrandTertiary);
          border-radius: 4px;
        }
        textarea {
          padding: 16px 10px;
          height: 150px;
          border: 1px solid var(--BrandTertiary);
          border-radius: 4px;
          resize: vertical;
          max-height: 500px;
        }
      }
      p {
        font-size: 14px;
        line-height: 150%;
        margin: 12px 0 24px 0;
      }
      a:nth-child(1) {
        color: #006bff;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .kontakt {
    .inner {
      width: 100%;
      grid-template-columns: 1fr;
      .information {
        h1 {
          font-size: 32px;
        }
      }
      .message {
        margin-top: 32px;
        span {
          flex-direction: column;
        }
      }
    }
  }
}
