.Dashboard {
  padding: 185px 0 200px 0;
  width: var(--PageWidth);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 77.5%;
  column-gap: 2.5%;
  .DashboardMenu {
    position: relative;
    .DashboardMenuInner {
      position: sticky;
      top: 125px;
    }
  }
  .DashboardOverview {
    h1 {
      margin: 16px 0 32px 0;
    }
  }
  #DashboardOverviewAnalytics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    .DashboardAnalytics {
      border: 1px solid #var(--BrandTertiary);
      padding: 25px;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 20px;
        margin-bottom: 8px;
      }
      p {
        font-size: 16px;
      }
      h3 {
        padding: 25px 0;
        font-size: 32px;
        font-weight: 700;
      }
      .up {
        color: #26c051;
      }
      .down {
        color: #c76363;
      }
    }
  }
  #DashboardParkingSpotsOverview {
    display: flex;
    flex-direction: column;
    margin: 50px 0;

    .DashboardParkingSpot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #var(--BrandTertiary);
      padding: 25px;
    }
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 32px;
      h2 {
        font-size: 24px;
      }
    }
  }
  #DashboardTransactionHistory {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h2 {
      font-size: 24px;
      margin-bottom: 32px;
    }
    .DashboardTransaction {
      border: 1px solid #var(--BrandTertiary);
      padding: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      span {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 16px;
      }
    }
  }
}
