.ParkingSpot {
  padding: 185px 0 200px 0;
  margin: 0 auto;
  width: var(--PageWidth);
  display: grid;
  grid-template-columns: 62.5% 35%;
  column-gap: 2.5%;
  grid-template-rows: repeat(2, 1fr, auto);
  font-size: 16px;
  line-height: 150%;

  .ParkingSpotInformationHeader {
    margin-bottom: 50px;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: space-between;
    width: var(--PageWidth);
    h1 {
      font-size: 32px;
    }
    p {
      margin-top: 8px;
    }
  }

  .ParkingSpotInformation {
    display: flex;
    flex-direction: column;
    gap: 75px;
    grid-auto-rows: max-content;
    :first-child {
      gap: 0;
    }
    .ParkingSpotAvaliability h2,
    .ParkingSpotLocation h2,
    .ParkingSpotTerms h2,
    .ParkingSpotText h2 {
      margin-bottom: 16px;
    }
    .ParkingSpotAvaliability {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      .MuiDateCalendar-root {
        display: contents !important;
      }
    }
    .ParkingSpotInformationDetails {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 16px;
      margin-top: -25px;
      .ParkingSpotDetails {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }
    .ParkingSpotText {
      .Rentee {
        margin-top: 25px;
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        gap: 10px;
        .Avatar {
          height: 50px;
          width: 50px;
        }
        .RenteeInformation {
          display: flex;
          flex-direction: column;
          align-items: center;
          a {
            font-size: 20px;
            text-decoration: none;
          }
        }
      }
    }
  }

  .ParkingSpotBooking {
    position: relative;
    .ParkingSpotBookingOptions {
      position: sticky;
      border: 1px solid #e5e5e5;
      width: inherit;
      top: 205px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      span {
        display: flex;
        gap: 10px;
      }
      .price,
      a {
        text-align: center;
      }
    }
  }

  .ParkingSpotMobileBooking {
    display: none;
  }
}

.MuiFormControlLabel-root {
  margin: 0 0 0 -12px !important;
  padding: 0 !important;
}

// Footer media query

@media only screen and (max-width: 600px) {
  .ParkingSpot {
    padding: 140px 16px 0px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .ParkingSpotBooking {
      display: none; // Skjuler desktop booking
    }
    .ParkingSpotMobileBooking {
      display: block;
      position: sticky !important;
      bottom: 0;
      background: white;
      margin: 0 -16px;
      padding: 16px;
      border-top: 1px solid #e5e5e5;
    }
    .ParkingSpotInformationDetails {
      display: flex !important;
      flex-direction: column;
      .ParkingSpotDetails {
        margin-bottom: 25px;
      }
    }
  }
}
