.kommunale-priser {
  color: var(--BrandPrimary);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 200px 0;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: var(--PageWidth);
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
