.FAQGeneral {
  display: flex;
  justify-content: center;
  margin: 75px 0;
  .inner {
    padding: 0;
    width: var(--PageWidth);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      font-size: 40px;
      font-weight: 800;
    }
    .questions {
      width: 605px;
      p {
        font-size: 18px !important;
      }
    }
    #panel1a-header,
    #panel2a-header,
    #panel3a-header,
    #panel4a-header,
    #panel5a-header,
    .MuiPaper-root {
      box-shadow: none;
      border: none;
      padding: 16px 0;
      font-size: 22px;
    }
  }
}
