.NavigationBar {
  height: 85px;
  display: flex;
  justify-content: center;
  z-index: 1000;
  margin-bottom: 1px;
  position: fixed;
  width: 100%;
  background: white;
  border-bottom: 1px solid #e5e5e5;
}
.NavigationBar .InnerNavigationBar {
  height: inherit;
  width: 1240px;
  background: transparent;
  display: inherit;
  align-items: center;
  justify-content: space-between;
}
.NavigationBar .InnerNavigationBar .items {
  display: flex;
  color: #2d2d34;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  position: absolute;
}
.NavigationBar .InnerNavigationBar .items a,
.NavigationBar .InnerNavigationBar MenuItem {
  margin: 0 15px;
  text-decoration: none;
  color: #2d2d34;
}
.NavigationBar .InnerNavigationBar a:nth-child(1) {
  text-decoration: none;
  color: #2d2d34;
}
.NavigationBar .MenuToggle,
.NavigationBar .bm-burger-button {
  display: none;
  visibility: hidden;
}

.LogOutMenu {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .NavigationBar {
    height: 75px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1000;
    padding: 0 16px;
  }
  .NavigationBar .InnerNavigationBar {
    height: inherit;
    width: 1140px;
    background: inherit;
    display: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .NavigationBar .InnerNavigationBar .items {
    display: flex;
    color: #425466;
    left: 0;
    right: 0;
    margin: auto;
    width: 374px;
    position: absolute;
  }
  .NavigationBar .InnerNavigationBar .items a,
  .NavigationBar .InnerNavigationBar MenuItem {
    margin: 0 15px;
    text-decoration: none;
    color: #425466;
  }
  .NavigationBar .InnerNavigationBar Button:first-of-type {
    margin-right: 15px;
  }
  .NavigationBar .InnerNavigationBar Button {
    text-transform: capitalize !important;
    font-size: 16px;
  }
  .NavigationBar .InnerNavigationBar a:nth-child(1) {
    text-decoration: none;
    color: #425466;
  }
  .MobileMenuNavigation {
    display: none;
  }
  .MenuToggle,
  .bm-burger-button {
    display: block !important;
    visibility: visible !important;
  }
}
.SearchBar {
  width: 1240px;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #e5e5e5;
}

.SEJT {
  font-size: 40px;
  color: aqua;
  text-align: center;
}

.Hero {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Hero .HeroInner {
  height: auto;
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 190px 0 75px 0px;
  margin: 0 auto;
  text-align: center;
}
.Hero .HeroInner h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: 0.12px;
  color: #0b3558;
  margin: 0 0 15px 0;
  padding: 0;
}
.Hero .HeroInner p {
  color: #2d2d34;
  font-size: 20px;
  line-height: 28px;
  padding: 0;
  margin: 20px 0 40px 0;
}
.Hero .HeroInner .HeroImage {
  width: 1240px;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .Hero .HeroInner {
    width: 100%;
  }
  .Hero .HeroInner h1 {
    line-height: 1.25;
  }
  .Hero .HeroInner p {
    font-size: 18px;
  }
  .Hero Button {
    padding: 11px 21px;
    font-size: 16px;
  }
}
.Gallery {
  display: flex;
  justify-content: center;
  background: white;
  padding-bottom: 175px;
}
.Gallery .GalleryInner {
  width: 1240px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.avaliability {
  display: flex;
  gap: 10px;
}
.avaliability .day {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avaliability .ledig {
  background: #ff2455;
  color: white;
}
.avaliability .ikke-ledig {
  background: #e5e5e5;
}

.bonus-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .Gallery {
    padding: 0 16px 100px 16px;
  }
  .Gallery .GalleryInner {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
.Footer {
  background: white;
  width: 100% !important;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.Footer .FooterInner {
  padding: 100px 0;
  width: 1240px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
.Footer .FooterInner .FooterColumn {
  display: flex;
  flex-direction: column;
}
.Footer .FooterInner .FooterColumn h6 {
  font-weight: 700;
}
.Footer .FooterInner .FooterColumn h6,
.Footer .FooterInner .FooterColumn a {
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #425466;
}
.Footer .FooterBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1240px;
  padding: 50px 0;
  font-size: 16px;
  border-top: 1px solid #e5e5e5;
}
.Footer .FooterBottom a {
  text-decoration: none;
  color: #425466;
}
.Footer .FooterBottom span {
  display: flex;
}
.Footer .FooterBottom span a:first-of-type {
  margin: 0 30px;
}

@media only screen and (max-width: 600px) {
  .Footer {
    background: white;
    width: 100% !important;
    height: auto;
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    padding: 50px 16px 25px 16px;
  }
  .Footer .FooterInner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    padding: 0;
  }
  .Footer .FooterInner .FooterColumn {
    display: flex;
    flex-direction: column;
  }
  .Footer .FooterInner .FooterColumn h6 {
    font-weight: 700;
    margin: 50px 0 25px 0;
  }
  .Footer .FooterInner .FooterColumn h6 {
    font-size: 16px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #425466;
  }
  .Footer .FooterInner .FooterColumn span {
    margin-top: 25px;
  }
  .Footer .FooterBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
    font-size: 16px;
    border-top: 1px solid #e5e5e5;
  }
  .Footer .FooterBottom a {
    text-decoration: none;
    color: #425466;
  }
  .Footer .FooterBottom p {
    margin-bottom: 25px;
  }
  .Footer .FooterBottom span {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .Footer .FooterBottom span a:first-of-type {
    margin: 0px;
  }
}
.privacy {
  padding: 200px 0px 125px 0px;
  width: 1140px;
  margin: 0 auto;
  color: #425466;
  font-size: 16px;
}
.privacy h1 {
  color: #0b3558;
  font-size: 64px;
}
.privacy h5 {
  font-size: 24px;
  margin: 0;
}
.privacy h6 {
  font-size: 20px;
  margin: 0;
}
.privacy p {
  color: #425466;
}
.privacy a {
  color: #006bff;
}

.cookies {
  padding: 200px 0px 125px 0px;
  width: 1140px;
  margin: 0 auto;
}
.cookies h1 {
  color: #0b3558;
  font-size: 64px;
}
.cookies p {
  color: #425466;
}

.faq {
  padding: 125px 0px 125px 0px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.faq h1 {
  color: #0b3558;
  font-size: 64px;
  padding-bottom: 100px;
}
.faq h2 {
  color: #0b3558;
  padding: 50px 0;
  font-size: 40px;
  margin: 0;
}
.faq p {
  color: #425466;
}

.faq-accordions {
  text-align: left !important;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.faq-accordions .MuiAccordionSummary-root {
  padding: 20px 30px !important;
  border: 1px solid #e5e5e5;
  box-shadow: none !important;
}
.faq-accordions #panel1a-content,
.faq-accordions #panel2a-content,
.faq-accordions #panel3a-content,
.faq-accordions #panel4a-content,
.faq-accordions #panel5a-content,
.faq-accordions #panel6a-content {
  padding: 25px 0px 20px 0px !important;
  padding-left: 20px !important;
  margin: 0;
  width: auto;
  display: flex;
}

#sign-in-container {
  padding: 175px 0 150px 0;
  background: transparent;
  z-index: 1;
}

#sign-up-container {
  padding: 175px 0 150px 0;
  background: transparent;
  z-index: 1;
}

.leje {
  padding: 125px 0px 125px 0px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #0b3558 !important;
}
.leje h1 {
  text-align: center;
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: 0.12px;
  color: #0b3558;
  margin-bottom: 15px;
}
.leje h2 {
  color: #0b3558 !important;
  font-size: 32px;
}
.leje p {
  color: #425466;
}

.leje-content {
  margin-top: 125px;
}
.leje-content .inner {
  width: 1140px;
  height: 486px;
  background: #FF4451;
  border-radius: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 75px;
  position: relative;
}
.leje-content .inner h1 {
  font-size: 40px;
  color: white;
  font-weight: 700;
}
.leje-content .inner p {
  font-size: 20px;
  color: white;
  margin: 30px 0 40px 0;
}
.leje-content .inner .leje-content-button {
  padding: 20px 40px;
  background: white;
  color: black;
  font-size: 20px;
  text-transform: initial;
}
.leje-content .leje-content-image {
  width: 365px;
  height: auto;
  position: absolute;
  right: 75px;
  bottom: 0;
}

.timeline {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.timeline .timeline-content-block {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
}
.timeline .timeline-content-block div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
.timeline .timeline-content-block h2 {
  color: #0b3558;
}
.timeline .timeline-content-block p {
  color: #425466;
}
.timeline .timeline-content-block img {
  width: auto;
  height: 500px;
}

.line {
  border-left: 1px solid #e5e5e5;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line .line-number {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  margin-left: -28px;
  background: white;
  outline: 20px solid white;
  border-radius: 25%;
  font-weight: 700;
  color: #0b3558;
  box-shadow: "rgba(0, 0, 0, 0.12) 0px 20px 40px 0px";
}

.leje-questions {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 125px;
  text-align: center;
}
.leje-questions h2 {
  padding: 50px 0;
  font-size: 40px;
  color: #0b3558;
}

.leleje-accordions {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.leleje-accordions .MuiAccordionSummary-root {
  padding: 20px 30px !important;
  border: 1px solid #e5e5e5;
  box-shadow: none !important;
}
.leleje-accordions #panel1a-content,
.leleje-accordions #panel2a-content,
.leleje-accordions #panel3a-content,
.leleje-accordions #panel4a-content,
.leleje-accordions #panel5a-content,
.leleje-accordions #panel6a-content {
  padding: 25px 0px 20px 0px !important;
  padding-left: 20px !important;
  margin: 0;
  width: auto;
  display: flex;
}

.udleje {
  padding: 125px 0px 125px 0px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #0b3558 !important;
}
.udleje h1 {
  text-align: center;
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: 0.12px;
  color: #0b3558;
  margin-bottom: 15px;
}
.udleje h2 {
  color: #0b3558 !important;
  font-size: 32px;
}
.udleje p {
  color: #425466;
}

.timeline {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}
.timeline .timeline-content-block {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
.timeline .timeline-content-block div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
.timeline .timeline-content-block h2 {
  color: #0b3558;
  font-size: 24px;
}
.timeline .timeline-content-block p {
  color: #425466;
  font-size: 18px;
}
.timeline .timeline-content-block img {
  width: auto;
  height: 500px;
}

.line {
  border-left: 1px solid #e5e5e5;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line .line-number {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  margin-left: -28px;
  background: white;
  outline: 20px solid white;
  border-radius: 25%;
  font-weight: 700;
  color: #0b3558;
  box-shadow: "rgba(0, 0, 0, 0.12) 0px 20px 40px 0px";
}

.udleje-questions {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 125px;
  text-align: center;
}
.udleje-questions h2 {
  padding: 50px 0;
  font-size: 40px;
  color: #0b3558;
}

.udleje-accordions {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.udleje-accordions .MuiAccordionSummary-root {
  padding: 20px 30px !important;
  border: 1px solid #e5e5e5;
  box-shadow: none !important;
}
.udleje-accordions #panel1a-content,
.udleje-accordions #panel2a-content,
.udleje-accordions #panel3a-content,
.udleje-accordions #panel4a-content,
.udleje-accordions #panel5a-content,
.udleje-accordions #panel6a-content {
  padding: 25px 0px 20px 0px !important;
  padding-left: 20px !important;
  margin: 0;
  width: auto;
  display: flex;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width: 600px) {
  .ProfileMenuSettings {
    width: 1240px;
    padding: 185px 0 200px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 77.5%;
    column-gap: 2.5%;
  }
  .ProfileMenuSettingsMobile {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .ProfileMenuSettings {
    width: 100%;
    padding: 50px 16px;
    box-sizing: border-box;
  }
  .ProfileMenuSettingsDesktop {
    display: none;
  }
}
.ParkingSpot {
  padding: 185px 0 200px 0;
  margin: 0 auto;
  width: 1240px;
  display: grid;
  grid-template-columns: 62.5% 35%;
  column-gap: 2.5%;
  grid-template-rows: repeat(2, 1fr, auto);
  font-size: 16px;
  line-height: 150%;
}
.ParkingSpot .ParkingSpotInformationHeader {
  margin-bottom: 50px;
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
}
.ParkingSpot .ParkingSpotInformationHeader h1 {
  font-size: 32px;
}
.ParkingSpot .ParkingSpotInformationHeader p {
  margin-top: 8px;
}
.ParkingSpot .ParkingSpotInformation {
  display: flex;
  flex-direction: column;
  gap: 75px;
  grid-auto-rows: max-content;
}
.ParkingSpot .ParkingSpotInformation :first-child {
  gap: 0;
}
.ParkingSpot .ParkingSpotInformation .Rentee {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.ParkingSpot .ParkingSpotInformation .Rentee .Avatar {
  height: 80px;
  width: 80px;
}
.ParkingSpot .ParkingSpotInformation .Rentee .RenteeInformation {
  display: flex;
  flex-direction: column;
}
.ParkingSpot .ParkingSpotInformation .Rentee .RenteeInformation h2,
.ParkingSpot .ParkingSpotInformation .Rentee .RenteeInformation a:nth-child(1) {
  font-size: 24px;
  text-decoration: none;
}
.ParkingSpot .ParkingSpotInformation .Rentee .RenteeInformation span {
  display: flex;
  align-items: center;
  margin: 2.5px 0;
}
.ParkingSpot .ParkingSpotInformation .Rentee .RenteeInformation span .Rating {
  font-size: 20px;
}
.ParkingSpot .ParkingSpotInformation .Rentee .RenteeInformation span p {
  margin-left: 8px;
  font-size: 16px;
}
.ParkingSpot .ParkingSpotInformation .Rentee .RenteeInformation a:nth-child(2) {
  font-size: 16px;
  text-decoration: none;
}
.ParkingSpot .ParkingSpotInformation .ParkingSpotAvaliability h2,
.ParkingSpot .ParkingSpotInformation .ParkingSpotLocation h2,
.ParkingSpot .ParkingSpotInformation .ParkingSpotTerms h2,
.ParkingSpot .ParkingSpotInformation .ParkingSpotText h2 {
  margin-bottom: 16px;
}
.ParkingSpot .ParkingSpotInformation .ParkingSpotAvaliability {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.ParkingSpot .ParkingSpotInformation .ParkingSpotAvaliability .MuiDateCalendar-root {
  display: contents !important;
}
.ParkingSpot .ParkingSpotBooking {
  position: relative;
}
.ParkingSpot .ParkingSpotBooking .ParkingSpotBookingOptions {
  position: sticky;
  border: 1px solid #e5e5e5;
  width: inherit;
  top: 205px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.ParkingSpot .ParkingSpotBooking .ParkingSpotBookingOptions span {
  display: flex;
  gap: 10px;
}
.ParkingSpot .ParkingSpotBooking .ParkingSpotBookingOptions .price,
.ParkingSpot .ParkingSpotBooking .ParkingSpotBookingOptions a {
  text-align: center;
}
.ParkingSpot .ParkingSpotMobileBooking {
  display: none;
}

@media only screen and (max-width: 600px) {
  .ParkingSpot {
    padding: 140px 16px 0px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .ParkingSpot .ParkingSpotBooking {
    display: none;
  }
  .ParkingSpot .ParkingSpotMobileBooking {
    display: block;
    position: sticky !important;
    bottom: 0;
    background: white;
    margin: 0 -16px;
    padding: 16px;
    border-top: 1px solid #e5e5e5;
  }
}
.Dashboard {
  padding: 185px 0 200px 0;
  width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 77.5%;
  column-gap: 2.5%;
}
.Dashboard .DashboardMenu {
  position: relative;
}
.Dashboard .DashboardMenu .DashboardMenuInner {
  position: sticky;
  top: 125px;
}
.Dashboard .DashboardOverview h1 {
  margin: 16px 0 32px 0;
}
.Dashboard #DashboardOverviewAnalytics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
}
.Dashboard #DashboardOverviewAnalytics .DashboardAnalytics {
  border: 1px solid #e5e5e5;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.Dashboard #DashboardOverviewAnalytics .DashboardAnalytics h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.Dashboard #DashboardOverviewAnalytics .DashboardAnalytics p {
  font-size: 16px;
}
.Dashboard #DashboardOverviewAnalytics .DashboardAnalytics h3 {
  padding: 25px 0;
  font-size: 32px;
  font-weight: 700;
}
.Dashboard #DashboardOverviewAnalytics .DashboardAnalytics .up {
  color: #26c051;
}
.Dashboard #DashboardOverviewAnalytics .DashboardAnalytics .down {
  color: #c76363;
}
.Dashboard #DashboardParkingSpotsOverview {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}
.Dashboard #DashboardParkingSpotsOverview .DashboardParkingSpot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 25px;
}
.Dashboard #DashboardParkingSpotsOverview .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}
.Dashboard #DashboardParkingSpotsOverview .header h2 {
  font-size: 24px;
}
.Dashboard #DashboardTransactionHistory {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Dashboard #DashboardTransactionHistory h2 {
  font-size: 24px;
  margin-bottom: 32px;
}
.Dashboard #DashboardTransactionHistory .DashboardTransaction {
  border: 1px solid #e5e5e5;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Dashboard #DashboardTransactionHistory .DashboardTransaction span {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.angry-grid {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: 0fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 15px;
}
.angry-grid .Textfield {
  width: 100%;
}
.angry-grid .InputLabel {
  margin-bottom: 15px;
  font-weight: 700;
}
.angry-grid .FormHelperText {
  margin: 15px 0 0 0 !important;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 7;
  height: fit-content;
}
#item-0 .ProfileEditHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#item-0 .ProfileEditHeader h1 {
  margin: 0;
}
#item-0 .ProfileEditHeader .Button {
  height: 45px;
}

#item-1 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 4;
  height: fit-content;
}

#item-2 {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 7;
  gap: 50px;
  height: fit-content;
}

#item-3 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
  height: fit-content;
}

#item-4 {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 5;
  height: fit-content;
}

#item-5 {
  grid-row-start: 3;
  grid-column-start: 5;
  grid-row-end: 4;
  grid-column-end: 7;
  height: fit-content;
}

#item-6 {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 7;
  height: fit-content;
}

#item-7 {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 3;
  height: fit-content;
}

#item-8 {
  grid-row-start: 5;
  grid-column-start: 3;
  grid-row-end: 6;
  grid-column-end: 7;
  height: fit-content;
}

#item-9 {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 7;
  height: fit-content;
}

#item-10 {
  grid-row-start: 7;
  grid-column-start: 1;
  grid-row-end: 8;
  grid-column-end: 7;
  height: fit-content;
}
#item-10 .Avatar {
  height: 75px;
  width: 75px;
  margin-bottom: 25px;
}

#item-11 {
  grid-row-start: 8;
  grid-column-start: 1;
  grid-row-end: 9;
  grid-column-end: 3;
  height: fit-content;
}

@media only screen and (max-width: 600px) {
  .angry-grid {
    box-sizing: border-box;
    width: 100%;
  }
}

/*# sourceMappingURL=global.css.map */
